<div class="container" style="margin-top: 60px">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">组件1</h3>
        </div>
        <div class="panel-body">
          <app-connect1></app-connect1>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">组件2</h3>
        </div>
        <div class="panel-body">
          <app-connect2></app-connect2>
        </div>
      </div>
    </div>
  </div>
</div>
