<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input [formControl]="titleFilter"  class="form-control" placeholder="请输入商品名称">
    </div>
  </div>
</div>
<div *ngFor="let product of products | filter: ['title', keyword]" class="col-md-4 col-sm-4 col-lg-4">
  <div class="thumbnail">
    <img src="http://www.placehold.it/350x150/8B7355/B23AEE/">
    <div class="caption">
      <h4 class="pull-right">{{product.price}}元</h4>
      <h4><a [routerLink] ="['./', product.id]">{{product.title}}</a></h4>
      <h4>{{product.desc}}</h4>
    </div>
    <div>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
</div>
