<!--<app-navbar></app-navbar>
<div class="container" style="margin-top: 60px">
  <div class="row">
    <div class="col-lg-3">
      <app-search></app-search>
    </div>
    <div class="col-lg-9">
      <div class="row"><app-carousel></app-carousel></div>
      <div class="row" style="margin-top: 20px">
       &lt;!&ndash; <app-pruduct></app-pruduct>&ndash;&gt;
        &lt;!&ndash;插座 路由后 页面会在这里显示&ndash;&gt;
       <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>-->

<router-outlet></router-outlet>

<!--<div>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</div>
<div>依赖注入</div>
<app-product1></app-product1>
<div>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</div>-->
<!--<a [routerLink]="['/home']">主页</a> |
<a [routerLink]="['/item', 2]" [queryParams]="{id:1}">item页面</a>
<input type="button" value="item详情" (click)="toItemDetails()">
<a [routerLink] = "[{outlets: {primary: 'home' ,aux: 'chat'}}]">开始聊天</a>
<a [routerLink] = "[{outlets: {aux: null}}]">结束聊天</a>
&lt;!&ndash;插座&ndash;&gt;
<router-outlet></router-outlet>
&lt;!&ndash;辅助路由插座&ndash;&gt;
<router-outlet name="aux"></router-outlet>-->
